.container {
  max-width: 300px;
  border-radius: 4px;
  border: 2px solid var(--black);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
  &:hover {
    z-index: 10;
    transform: scale(1.1);
  }
  .preview {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
  }
  .info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--red);
    color: var(--white);
    h1 {
      font-size: 1.125rem;
    }
    span {
      font-size: 1.125rem;
      filter: brightness(0.8);
      font-family: Lexend;
    }
  }
}
