* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #e0e7e8;
  --red: #ef2901;
  --black: #434a54;
}

@media (max-width: 1440px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--white);
}

h1 {
  font-family: Lexend, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: Oxygen;
}

button {
  cursor: pointer;
}
